
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Mulish', sans-serif;
    line-height: 120%;
    color: #1E3240;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    line-height: 120%;
    font-weight: normal;
    transition: all 0.3s ease;
}

a:hover {  
    font-weight: 700;
    text-shadow: -1px 1px 5px #1E3240;   
}

section {
    margin: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: content-box;
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
}

p {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 120%;
    color: #BDBDBD;
}

/* Menu */
header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    width: 100%;
    position: absolute;
    top:0;
    background-color: #afd4e2a4;
}

.nav a {
    color: #1E3240;
}


.nav {
    max-width: 1440px;
    margin: 1em auto;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1240px) {
    .nav {
        max-width: 100%;
    }
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    line-height: 120%;
}

.nav__menu {
    width: 446px;
    display: flex;
    justify-content: space-between;
}

.nav__menu-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}
.nav_burger {
    display: none;
}

@media screen and (max-width: 768px) {

    .nav__menu {
        display: none;
    }
    .nav_burger {
        display:block;
        position: relative;
        width: 3vw;
        height: 3vw;
        
    }

    .nav_burger span {
        top: 1.4vw;
    }

    .nav_burger::before,
    .nav_burger::after,
    .nav_burger span {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
        background-color: #1E3240;
        
    }
    .nav_burger::after {
        bottom: 0;
    }
    .nav_burger::before {
        top: 0;
    }

}

/* hero */

.hero {
    background-color: #AFD4E2;
}

.hero_bg {
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin: 0 auto;
    background: #AFD4E2 url(../img/House\ 1.png) no-repeat right bottom;
}

@media screen and (max-width: 1340px) {
    .img_grid_arrow {
        display: none;
    }   
}

.hero__content {
    margin-top: 20%;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-auto-flow: row;
    align-items: end;
    column-gap: 30px;
}

.hero_title {
    font-weight: 700;
    font-size: 6vmax;
    line-height: 120%;
    grid-column: 1 / span 7;
}

@media screen and (min-width: 1440px) {
    .hero_title {
        font-size: 90px;
    }
}

p.dark {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 120%;
    margin-top: 18px;
    color: #1E3240;

    grid-column: 1/ span 5;
}


.btn {
    max-height: 53px;
    padding: 18px 24px;
    border: solid 1px #1E3240;
    font-weight: 300;
    font-size: 1em;
    line-height: 120%;
}    
.hero>.btn {
    margin-top: 32px;
    grid-row: 3 / 4;
    align-items: center;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}

.light-btn {
    background-color: transparent;
    grid-column: 3 / 5;

    transition: all 0.3s ease;
}

.light-btn:hover {
    text-shadow: -1px 1px 5px #1E3240;
}

.dark-btn {
    color: #fff;
    background-color: #1E3240;
    grid-column: 1 / 3;

    transition: all 0.3s ease;
}

.dark-btn:hover {
    text-shadow: -1px 1px 5px #fff;
}

.btn:hover {
    cursor: pointer;
    box-shadow: -1px 1px 5px #1E3240;

}

.img_grid_arrow {
    grid-row: 2 /4;
    grid-column: 6 / 8;
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .hero_title {
        font-size: 54px;
        
    }
    .hero_title ,
    p.dark,
    .light-btn,
    .dark-btn {
        grid-column: 2 / 12;
        align-self: center;
        text-align: center;
    }
    .light-btn {
        grid-row: 4 / 5;
    }

    .hero__content {
        background-color: #afd4e28f;
    }
}

/* About */

.about__content,
.testimonial__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10% auto;
}

@media screen and (max-width: 768px) {
    .about__content,
    .testimonial__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: space-between;
    }   
}

.about__content img {
    display: block;
    max-width: 50%;
    height: 100%;
    
}
.about__content-text,
.testimonial__content-text {
    width: 48%;
}

.about__content-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-auto-flow: row;
    column-gap: 4%;
}

.about__content-text h2 {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 4vmax;
    }
    .about__content-text {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
}

.about__content-text p {
    grid-column: 1 / span 3;
    grid-row: 2 / 3;
    margin: 7% 0;
}

.about__features-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feature_header {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 120%;
    color: #AFD4E2;
}

.feature_num {
    margin-top: 4%;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
}

/* Projects */

.projects__content {
    padding-top: 48px;
}

.projects p {
    margin-top: 12px;
}

.projects__slider {
    margin-top: 84px;
}

.slider {
    display: flex;
    gap: 30px;

}

.slider__item {
    position: relative;

}

.slider:last-child {
    clip-path: view-box;
    /* overflow: hidden; */
}

.slider__item-descr {
    position: absolute;

    left: 30px;
    bottom: -40px;
    width: 290px;
    padding: 20px;
    background-color: #fff;
}

.item-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
}

.item-address {
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
}

.item-address img {
    margin: 6px 4px 0 0;
    vertical-align: text-bottom;
}

/* testimonial */

.testimonial .container {
    flex-direction: column;
}

.testimonial__header {
    padding-top: 54px;
    text-align: center;
}

.testimonial__content {
    margin-top: 78px;   
    align-items: end;
    gap: 2%;
}

.testimonial__content-text {
    /* margin-top: 32px; */
    justify-content: end;
}



.testimonial__content-text h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top: 18px;
}

@media screen and (max-width: 768px) {
    .testimonial__content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
    }
    .testimonial__content-text {
        width: 100%;
    }

}

.text-author {
    margin-top: 18px;
}

.text-author p {
    margin-top: 4px;
}

.text-author h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

/* contact */

.contact__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 1110px;
    margin: 10% 0;
}

.contact__content img {
    width: 80%;
 }

 .contact__form {
    width: 80%;
 }

@media screen and (max-width: 1140px) {
    .contact__content {
        width: 99vw;
        column-gap: 1rem;
    }
}
@media screen and (max-width: 992px) {
    .contact__content img {
       width: 90%;
    }
    .contact__form {
        width: 90%;
    }
    
}
@media screen and (max-width: 768px) {
    .contact__content{
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        row-gap: 24px;
        text-align: center;
        width: 100%;
    }
    
    
}

.quote {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    margin-top: 18px;
    color: #1E3240;
}

.form {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, 1fr, 2fr, 1fr;
    row-gap: 1rem;
    column-gap: 5%;
}

input,
textarea {
    padding: 20px 18px 16px;
    border: 1px solid #1E3240;
}

textarea {
    width: 100%;
    height: 120px;
    grid-column: span 2;
}

.contact__header p {
    margin-top: 12px;
}

form button {
    display: inline-block;
    margin-top: 40px;
}

form span {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
    margin-left: 18px;
}

::placeholder {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #BDBDBD;
    vertical-align: middle;
}

/* footer */

.footer {
    flex-shrink: 0;
    /* height: 400px; */
    color: #fff;
    background-color: #1E3240;
}

.footer__logo {
    color: #fff;
}

.footer__content {
    width: 100%;
    margin-top: 16%;
    margin-bottom: 8%;
}

.footer__flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__menu {
    display: flex;
    justify-content: space-evenly;
    gap: 75px;
    flex-wrap: wrap;
}

.contacts,
.quick-links,
.legal-links,
.socialmedia {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
}

.icons {
    padding-right: 8px;
    vertical-align: middle;
}

.link-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.link-item,
.contacts-item,
.footer a {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #BDBDBD;
}

.copyrite {
    margin-top: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
}

@media screen and (max-width: 768px) {
    .footer__flex,
    .footer__menu {
        flex-direction: column;
        justify-content: space-around;
        /* margin-top: 3%; */
        align-items: center;
    }
    .footer__menu {
        margin-top: 10%;
    }
    .copyrite {
        text-align: center;
    }
     
}